@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;900&display=swap');

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.bnt_usr_inp {
    display: flex;
    margin: 10px auto 0 auto;
}

#code_button {
    max-width: 200px;
    width: 140px;
    margin: 4% auto auto;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 30px 0 0 30px;
    border-color: white;
    border-style: solid;
    background: linear-gradient(-90deg, rgb(80, 0, 119) 0%, rgb(134, 51, 0) 100%);
    font-family: 'Exo 2', monospace;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    color: white;
}

#decode_button {
    max-width: 200px;
    width: 140px;
    margin: 4% auto auto;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 0 30px 30px 0;
    border-color: white;
    border-style: solid;
    background: linear-gradient(90deg, rgb(80, 0, 119) 0%, rgb(134, 51, 0) 100%);
    font-family: 'Exo 2', monospace;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    color: white;
}

#copy {
    min-width: 100px;
    margin: 10px auto 0 auto;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    background: linear-gradient(90deg, rgb(80, 0, 119) 0%, rgb(134, 51, 0) 100%);
    font-family: 'Exo 2', monospace;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    color: white;
}

#copy:hover {
    background: linear-gradient(90deg, rgb(118, 0, 180) 0%, rgb(185, 73, 0) 100%);
    animation-timing-function: linear;
}

label {
    color: white;
    text-align: center;
    font-family: 'Exo 2', monospace;
    font-size: larger;
    font-weight: bold;
}

textarea {
    width: 20rem;
    height: 20rem;
    background-color: black;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    box-shadow: 5px 5px 5px black;
    font-family: 'Exo 2', monospace;
    font-weight: normal;
    color: white;
    text-align: center;
    resize: none;
    padding-top: 10px;
}

textarea:focus {
    outline: none;
}

#div_input {
    display: grid;
    margin: 3% 0 0 0;
    padding: 0;
}

#div_result {
    display: grid;
    margin: 3% 0 0 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Exo 2', monospace;
    font-size: 40px;
    color: white;
}

body {
    background: rgb(169, 0, 255);
    background: linear-gradient(146deg, rgba(169, 0, 255, 1) 0%, rgba(255, 96, 0, 1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin: 0;
    padding: 0;
}

footer {
    display: inline-flex;
    justify-content: center;
    font-family: 'Jost', monospace;
    color: white;
    margin-top: auto;
}